
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {font-family: 'fontawesome', sans-serif;}

section {
  height: 700px;
  margin: 4rem auto;
  position: relative;
  background: #31A66C;
  box-shadow: 0 0 6px rgba(0,0,0,.4);
}
section > input {
  display: none;
}
section > nav {
  background: #fff;
  width: 100%;
  height: 5rem;
  box-shadow: 0 0 6px rgba(0,0,0,.4);
}
section > nav:after {
  content:'';
  width: 25%;
  height: 5rem;
  background: #BEE3D1;
  position: absolute;
  transition: .5s;
}
section > nav > label {
  width: 25%;
  float: left;
  color: #BEE3D1;
  text-align: center;
  cursor: pointer;
  transition: .5s;
  z-index: 2;
}
section > nav > label:hover {color: #1E6743;}
section > nav > label:before {
  display: block;
  font-size: 3rem;
  line-height: 5rem;
  z-index: 2;
}

article {
  left: 0;
  top: 5rem;
  right: 0;
  bottom: 0;
  overflow: hidden;
  position: absolute;
  padding: 1rem 2rem 0;
  transition: .7s;
  transform: scale(0);
  transform-origin: center right;
  transition-delay: .1s;
}
article:before {
  color: rgba(0,0,0,.2);
  font-size: 4rem;
  font-weight: 100;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

#thumb:checked ~ nav [for='thumb'],
#post:checked ~ nav [for='post'],
#list:checked ~ nav [for='list'],
#data:checked ~ nav [for='data'] {
  color: #1E6743;
  font-weight: 600;
}
#post:checked ~ nav [for='post'] {}
#thumb:checked ~ nav [for='thumb'] {}

#thumb:checked ~ nav:after {
  left: 0;
}
#post:checked ~ nav:after {
  left:25%;
}
#list:checked ~ nav:after {
  left: 50%;
}
#data:checked ~ nav:after {
  left: 75%;
}

#thumb:checked ~ .api,
#post:checked ~ .json,
#list:checked ~ .rss,
#data:checked ~ .xml {
  display: block;
  transform: scale(1);
  transition-delay: .5s; 
}
