<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <meta name="keywords" content="{{ page.keywords }}" />
        <meta name="description" content="{{ page.description }}" />
<!-- 
Urbanic Template 
http://www.templatemo.com/preview/templatemo_395_urbanic 
-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<link rel="shortcut icon" href="PUT YOUR FAVICON HERE">-->

        <!-- Web Font Embed -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.css" rel='stylesheet' type='text/css'>

        <!-- Custom styles for this template -->
        <link href="js/colorbox/colorbox.css"  rel='stylesheet' type='text/css'>
        <link href="css/portfolio/layout.css"  rel='stylesheet' type='text/css'>
        <link href="css/templatemo_style.css"  rel='stylesheet' type='text/css'>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    
    <body>

        <div class="templatemo-top-bar" id="templatemo-top">
            <div class="container">
                <div class="subheader">
                    <div id="phone" class="pull-left">
                            <img src="images/phone.png" alt="phone"/>
                            010-020-0340
                    </div>
                    <div class="addthis_native_toolbox" style="position: fixed; left: 47.5%; transform: translate(-47.5%);"></div>
                    <div id="email" class="pull-right">
                            <img src="images/email.png" alt="email"/>
                            contact@website.com
                    </div>
                </div>
            </div>
        </div>
        <div class="templatemo-top-menu">
            <div class="container">
                <!-- Static navbar -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                                <a href="http://hyip.world/" class="navbar-brand" title="The HYIP World"><img src="http://sites.hyip.world/base/images/logo/246x51.png" alt="HYIP World Logo" title="The world of High-yield Investment Program" /></a>
                        </div>
                        <div class="navbar-collapse collapse" id="templatemo-nav-bar">
                            <ul class="nav navbar-nav navbar-right" style="margin-top: 40px;">
                                <li class="active"><a href="#templatemo-top">HOME</a></li>
                                <li><a href="#templatemo-welcome">PROGRAMS</a></li>
                                <li><a href="#templatemo-portfolio">PORTFOLIOS</a></li>
                                <li><a href="#templatemo-blog">NEWS</a></li>
                                <li><a href="#templatemo-contact">MAPS</a></li>
                                <li><a href="#templatemo-about">TEAMS</a></li>
                                <li><a href="#templatemo-bottom">NETWORK</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
                </div><!--/.navbar -->
            </div> <!-- /container -->
        </div>
        
        <div>
            <!-- Carousel -->
            <div id="templatemo-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#templatemo-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#templatemo-carousel" data-slide-to="1"></li>
                    <li data-target="#templatemo-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>{{ page.welcome_word }}</h1>
                                <p>{{ page.welcome_word_description }}</p>
                                <p><a class="btn btn-lg btn-green" href="https://github.com/hyipworld" title="View our project repository along with the tutorial to get the site Up and Running on GitHub" role="button" style="margin: 20px;">View Repository</a> 
                                	<a class="btn btn-lg btn-orange" href="https://github.com/hyipworld/hyipworld.github.io/archive/master.zip" title="Download the contents of our hyip.world project as a zip file" role="button">Free Download</a></p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <div class="container">
                                <div class="carousel-caption">
                                    <div class="col-sm-6 col-md-6">
                                    	<h1>{{ page.welcome_tag1 }}</h1>
                                        <p>{{ page.welcome_tag1_description }}</p>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                    	<h1>{{ page.welcome_tag2 }}</h1>
                                        <p>{{ page.welcome_tag2_description }}</p>
                                    </div>
                                </div>
                        </div>
                    </div>
                        <div class="item">
                            <div class="container">
                                <div class="carousel-caption">
                                	<h1>{{ page.template_word }}</h1>
                                    <p>{{ page.template_word_description }}</p>
                                    <p><a class="btn btn-lg btn-orange" href="http://www.templatemo.com/free-website-templates/395-urbanic" title="Templatemo - Free Template > Urbanic. The source of our hyip.world template." role="button" target="_blank">Read More</a></p>
                                </div>
                            </div>
                        </div>
                </div>
                <a class="left carousel-control" href="#templatemo-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#templatemo-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                <a href="https://github.com/hyipworld/hyipworld.github.io"><img style="position: absolute; bottom: 0; right: 0; border: 0;" src="http://sites.hyip.world/base/images/ribbon/github-ribbon.png" alt="Fork me on GitHub" /></a>
            </div><!-- /#templatemo-carousel -->
        </div>

        <div class="templatemo-welcome" id="templatemo-welcome">
            <div class="container">
                <div class="templatemo-slogan text-center">
                    <span class="txt_darkgrey">Welcome to </span><span class="txt_orange">The HYIP.World</span>
                    <p class="txt_slogan"><i>{{ page.slogan }}</i></p>
                </div>	
            </div>
        </div>
        
        <div class="templatemo-service">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="templatemo-service-item">
                            <div>
                                <img src="images/leaf.png" alt="icon" />
                                <span class="templatemo-service-item-header">EXCLUSIVE STYLE</span>
                            </div>
                            <p>Nam porta adipiscing tortor, eget rutrum turpis bibendum ut. Donec eu lacus in diam euismod imperdiet eu ut turpis. Morbi felis orci, tincidunt pretium laoreet id, euismod et lacus. Praesent aliquet magna vitae mi elementum pharetra.</p>
                            <div class="text-center">
                            	<a href="#" 
                                	class="templatemo-btn-read-more btn btn-orange">READ MORE</a>
                            </div>
                            <br class="clearfix"/>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="templatemo-service-item" >
                            <div>
                                <img src="images/mobile.png" alt="icon"/>
                                <span class="templatemo-service-item-header">FULLY AUTOMATED</span>
                            </div>
							<p><a rel="nofollow" href="http://www.templatemo.com/preview/templatemo_395_urbanic">Urbanic</a> is free responsive mobile website template by templatemo. Credits go to <a rel="nofollow" href="http://getbootstrap.com">Bootstrap</a> for responsive layout and <a rel="nofollow" href="http://unsplash.com">Unsplash</a> for images used in this template. Curabitur non eros ut dolor tincidunt interdum sit amet vitae quam.</p>
                            <div class="text-center">
                                <a href="#" 
                                	class="templatemo-btn-read-more btn btn-orange">READ MORE</a>
                            </div>
                            <br class="clearfix"/>
                        </div>
                        
                    </div>
                    
                    <div class="col-md-4">
                        <div class="templatemo-service-item">
                            <div>
                                <img src="images/battery.png" alt="icon"/>
                                <span class="templatemo-service-item-header">ALL IN ONE PAGE</span>
                            </div>
                            <p>Morbi imperdiet ipsum sit amet dui pharetra, vulputate porta neque tristique. Quisque id turpis tristique, venenatis erat sit amet, venenatis turpis. Ut tellus ipsum, posuere bibendum consectetur vel, egestas sit amet erat. Morbi rhoncus leo fermentum viverra.</p>
                            <div class="text-center">
                                <a href="#" 
                                	class="templatemo-btn-read-more btn btn-orange">READ MORE</a>
                            </div>
                            <br class="clearfix"/>
                        </div>
                        <br class="clearfix"/>
                    </div>
                </div>
            </div>
        </div>

        <div  class="templatemo-portfolio" id="templatemo-portfolio" >
            <div class="container">
                <div class="row">
                    <div class="templatemo-line-header" >
                        <div class="text-center">
                            <hr class="team_hr team_hr_left hr_gray"/>
                            <span class="txt_darkgrey">{{ page.service_title1 }}</span>
                            <hr class="team_hr team_hr_right hr_gray" />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="templatemo-gallery-category" style="font-size:16px;">
                        <div class="text-center">
                            <a class="active" href=".gallery">All</a> / <a href=".gallery-design">Web Design </a>/ <a href=".gallery-graphic">Graphic</a> / <a href=".gallery-inspiration">Inspiration</a> / <a href=".gallery-creative">Creative</a>							
                        </div>
                    </div>
                </div> <!-- /.row -->

                <section>
                   <input type="radio" id="thumb" value="1" name="tractor" checked="checked" />    
                   <input type="radio" id="post" value="2" name="tractor" />      
                   <input type="radio" id="list" value="3" name="tractor" />
                   <input type="radio" id="data" value="4" name="tractor" />
                   <nav>   
                        <label for="thumb" class="fontawesome-camera-retro"></label>
                        <label for="post" class="fontawesome-film"></label>
                        <label for="list" class="fontawesome-calendar"></label>
                        <label for="data" class="fontawesome-list-alt"></label>
                    </nav>
                    <article class="api">
                <!-- div class="clearfix"></div -->
                <div class="text-center">
                    <ul class="templatemo-project-gallery" >
                        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-graphic" >
                            <a class="colorbox" href="images/full-gallery-image-1.jpg" data-group="gallery-graphic">
                                <div class="templatemo-project-box">

                                    <img src="images/gallery-image-1.jpg" class="img-responsive" alt="gallery" />

                                    <div class="project-overlay">
                                        <h5>Graphic</h5>
                                        <hr />
                                        <h4>TEA POT</h4>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-creative" >
                            <a class="colorbox" href="images/full-gallery-image-2.jpg" data-group="gallery-creative">
                                <div class="templatemo-project-box">
                                    <img src="images/gallery-image-2.jpg" class="img-responsive" alt="gallery" />
                                    <div class="project-overlay">
                                        <h5>Creative</h5>
                                        <hr />
                                        <h4>BREAKFAST</h4>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-inspiration" >
                            <a class="colorbox" href="images/full-gallery-image-3.jpg" data-group="gallery-inspiration">
                                <div class="templatemo-project-box">
                                    <img src="images/gallery-image-3.jpg" class="img-responsive" alt="gallery" />
                                    <div class="project-overlay">
                                        <h5>Inspiration</h5>
                                        <hr />
                                        <h4>GREEN COLORS</h4>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-design" >
                            <a class="colorbox" href="images/full-gallery-image-4.jpg" data-group="gallery-design">
                                <div class="templatemo-project-box">
                                    <img src="images/gallery-image-4.jpg" class="img-responsive" alt="gallery" />
                                    <div class="project-overlay">
                                        <h5>Web Design</h5>
                                        <hr />
                                        <h4>CAMERA</h4>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-inspiration" >
                            <a class="colorbox" href="images/full-gallery-image-5.jpg" data-group="gallery-inspiration">
                                <div class="templatemo-project-box">
                                    <img src="images/gallery-image-5.jpg" class="img-responsive" alt="gallery" />
                                    <div class="project-overlay">
                                        <h5>Inspiration</h5>
                                        <hr />
                                        <h4>PLANT</h4>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="col-lg-2 col-md-2 col-sm-2  gallery gallery-inspiration" >
                            <a class="colorbox" href="images/full-gallery-image-6.jpg" data-group="gallery-inspiration">
                                <div class="templatemo-project-box">
                                    <img src="images/gallery-image-6.jpg" class="img-responsive" alt="gallery" />
                                    <div class="project-overlay">
                                        <h5>Inspiration</h5>
                                        <hr />
                                        <h4>CABLE TRAIN</h4>
                                    </div>
                                </div>
                            </a>
                        </li>
                        
                        <li class="col-lg-2 col-md-2 col-sm-2 gallery gallery-design" >
                            <a class="colorbox" href="images/full-gallery-image-7.jpg" data-group="gallery-design">
                                <div class="templatemo-project-box">
                                    <img src="images/gallery-image-7.jpg" class="img-responsive" alt="gallery" />
                                    <div class="project-overlay">
                                        <h5>Web Design</h5>
                                        <hr />
                                        <h4>CITY</h4>
                                    </div>
                                </div>
                            </a>
                        </li>
                        
                        <li class="col-lg-2 col-md-2 col-sm-2 gallery gallery-creative" >
                            <a class="colorbox" href="images/full-gallery-image-8.jpg" data-group="gallery-creative">
                                <div class="templatemo-project-box">
                                    <img src="images/gallery-image-8.jpg" class="img-responsive" alt="gallery" />
                                    <div class="project-overlay">
                                        <h5>Creative</h5>
                                        <hr />
                                        <h4>BIRDS</h4>
                                    </div>
                                </div>
                            </a>
                        </li>
                        
                        <li class="col-lg-2 col-md-2 col-sm-2 gallery gallery-graphic" >
                            <a class="colorbox" href="images/full-gallery-image-9.jpg" data-group="gallery-graphic">
                                <div class="templatemo-project-box">
                                    <img src="images/gallery-image-9.jpg" class="img-responsive" alt="gallery" />
                                    <div class="project-overlay">
                                        <h5>Graphic</h5>
                                        <hr />
                                        <h4>NATURE</h4>
                                    </div>
                                </div>
                            </a>
                        </li>
                        
                        <li class="col-lg-2 col-md-2 col-sm-2 gallery gallery-inspiration" >
                            <a class="colorbox" href="images/full-gallery-image-10.jpg" data-group="gallery-inspiration">
                                <div class="templatemo-project-box">
                                    <img src="images/gallery-image-10.jpg" class="img-responsive" alt="gallery" />
                                    <div class="project-overlay">
                                        <h5>Inspiration</h5>
                                        <hr />
                                        <h4>DOGGY</h4>
                                    </div>
                                </div>
                            </a>
                        </li>

                    </ul><!-- /.gallery -->
                </div>
                <div class="clearfix"></div>
                <div class="row text-center">
                    <a class="btn_loadmore btn btn-lg btn-orange" href="#" role="button">LOAD MORE</a>
                </div>
                    </article>
                    
                    <article class="json fontawesome-wrench">
                        <h2>
                            <img alt="" src="https://lh3.googleusercontent.com/-wy4VbKjl-28/UXVqrCC_cCI/AAAAAAAAGi0/JZZvb9IaLCc/s550-no/K-bg-2.jpg" />
                            	KsesoCss
                            <span>Spanish Css blog</span></h2>
                        <footer>
                            <ul>
                                <li class="fontawesome-link"></li>
                                <li class="fontawesome-paper-clip"></li>
                                <li class="fontawesome-sitemap"></li>
                                <li class="fontawesome-wrench"></li>
                                <li class="fontawesome-magic"></li>
                            </ul>
                        </footer>
                    </article>
					  
                    <article class="rss fontawesome-file-alt">
                        <ol>
                            <li>Dimensionado de imágenes y objetos en CSS</li>
                            <li>Evita pulsaciones no deseadas al hacer scroll</li>
                            <li>¿Qué es CSS?</li>
                            <li>CSS Style Attributes. La especificación</li>
                            <li>Múltiples labels por cada input </li>
                            <li>Sintaxis de Css y Glosario de términos</li>
                        </ol>
                    </article>
					  
                    <article class="xml fontawesome-copy">
                        <dl>
                            <dt>Guía de Transiciones Css</dt>
                            <dd>Todas y cada una de las propiedades css que componen el grupo de las transitions con demos.</dd>
                            <dt>@Font-face y sus problemas</dt>
                            <dd>Los problemas más comunes y sus soluciones, que suelen presentarse al utilizar la regla @font-face de Css para mostrar los textos en tipografías distintas a las safety fonts.</dd>
                        </dl>
                    </article>
                </section>
            </div><!-- /.container -->
        </div> <!-- /.templatemo-portfolio -->

        <div class="templatemo-tweets">
            <div class="container">
                <div class="row" style="margin-top:20px;">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-1">
                                <img src="images/quote.png" alt="icon" />
                        </div>
                        <div class="col-md-7 tweet_txt" >
                                <span>Warning:<br>These opportunities can be extremely risky and may be outlawed in your country. You should always research any money making opportunity you participate in. HYIP Investment programs are always Risky so do not invest if you can't afford to loose.</span>
                                <br/>
                                <span class="twitter_user">HYIP.World Team</span>
                        </div>
                        <div class="col-md-2">
                        </div>
                 </div><!-- /.row -->
            </div><!-- /.container -->
        </div>

        <div id="templatemo-blog">
            <div class="container">
                <div class="row">
                    <div class="templatemo-line-header" style="margin-top: 0px;" >
                        <div class="text-center">
                            <hr class="team_hr team_hr_left hr_gray"/><span class="span_blog txt_darkgrey">{{ page.service_title2 }}</span>
                            <hr class="team_hr team_hr_right hr_gray" />
                        </div>
                    </div>
                    <br class="clearfix"/>
                </div>
                
                <div class="blog_box">
                    <div class="col-sm-5 col-md-6 blog_post">
                        <ul class="list-inline">
                            <li class="col-md-4">
                                <a href="#">
                                    <img class="img-responsive" src="images/blog-image-1.jpg" alt="gallery 1" />
                                </a>
                            </li>
                            <li  class="col-md-8">
                                <div class="pull-left">
                                    <span class="blog_header">{{ page.blogpost_item1 }}</span><br/>
                                    <span>Powered by : <a class="link_orange" href="https://about.me/hyip.world"><span class="txt_orange">hyip.world</span></a></span>
                                </div>
                                <div class="pull-right">
                                    <a class="btn btn-orange" href="https://tophyipmonitor.wordpress.com/hyip-business/" title="What is a High Yield Investment Program (HYIP)?" target="_blank" role="button">HYIP BUSINESS</a>
                                </div>
                                <div class="clearfix"> </div>
                                <p class="blog_text">{{ page.blogpost_item1_description }}</p>
                            </li>
                        </ul>
                    </div> <!-- /.blog_post 1 -->
                    
                    <div class="col-sm-5 col-md-6 blog_post">
                        <ul class="list-inline">
                            <li class="col-md-4"><a href="#">
                                <img class="img-responsive" src="images/blog-image-2.jpg" alt="gallery 2" /></a>
                            </li>
                            <li class="col-md-8">
                                <div class="pull-left">
                                    <span class="blog_header">{{ page.blogpost_item2 }}</span><br/>
                                    <span>Powered by : <a class="link_orange" href="http://www.warriorforum.com/members/tophyips.html"><span class="txt_orange">tophyips.info</span></a></span>
                                </div>
                                <div class="pull-right">
                                    <a class="btn btn-orange" href="https://tophyipmonitor.wordpress.com/hyip-forums/" title="TOP 100 Rated HYIP Forums" target="_blank" role="button">HYIP FORUMS</a>
                                </div>
                                <div class="clearfix"> </div>
                                <p class="blog_text">{{ page.blogpost_item2_description }}</p>
                            </li>
                        </ul>	
                    </div><!-- /.blog_post 2 -->
                    
                    <div class="templatemo_clear"></div>
                    
                    <div class="col-sm-5 col-md-6 blog_post">
                        <ul class="list-inline">
                            <li class="col-md-4"><a href="#">
                                <img class="img-responsive" src="images/blog-image-2.jpg" alt="gallery 3" /></a>
                            </li>
                            <li class="col-md-8">
                                <div class="pull-left">
                                    <span class="blog_header">{{ page.blogpost_item3 }}</span><br/>
                                    <span>Powered by : <a class="link_orange" href="http://gravatar.com/tophyipmonitor"><span class="txt_orange">hyipmonitors.info</span></a></span>
                                </div>
                                <div class="pull-right">
                                    <a class="btn btn-orange" href="https://tophyipmonitor.wordpress.com/hyip-monitors/" title="How to find the Best Hyip Monitor?" target="_blank" role="button">HYIP MONITOR</a>
                                </div>
                                <div class="clearfix"> </div>
                                <p class="blog_text">{{ page.blogpost_item3_description }}</p>
                            </li>
                        </ul>	
                    </div><!-- /.blog_post 3 -->
                    
                    <div class="col-sm-5 col-md-6 blog_post">
                        <ul class="list-inline">
                            <li class="col-md-4">
                                <a href="#">
                                    <img class="img-responsive" src="images/blog-image-1.jpg"  alt="gallery 4" />
                                </a>
                            </li>
                            <li class="col-md-8">
                                <div class="pull-left">
                                    <span class="blog_header">{{ page.blogpost_item4 }}</span><br/>
                                    <span>Powered by : <a class="link_orange" href="http://stackoverflow.com/users/4058484/hyip-script?tab=profile"><span class="txt_orange">hyipscript.info</span></a></span>
                                </div>
                                <div class="pull-right">
                                    <a class="btn btn-orange" href="https://tophyipmonitor.wordpress.com/hyip-scripts/" title="The list of Popular HYIP Scripts" target="_blank" role="button">HYIP SCRIPTS</a>
                                </div>
                                <div class="clearfix"> </div>
                                <p class="blog_text">{{ page.blogpost_item4_description }}</p>
                            </li>
                        </ul>
                    </div> <!-- /.blog_post 4 -->
                    
                </div>
            </div>
        </div>

        <div id="templatemo-contact">
            <div class="container">
                <div class="row">
                    <div class="templatemo-line-header head_contact">
                        <div class="text-center">
                            <hr class="team_hr team_hr_left hr_gray"/>
                            <span class="txt_darkgrey">{{ page.service_title3 }}</span>
                            <hr class="team_hr team_hr_right hr_gray"/>
                        </div>
                    </div>

                    <div class="col-md-4 contact_left">
                        <p>Lorem ipsum dolor sit amet, consectetu adipiscing elit pendisse as a molesti.</p>
                        <p><img src="images/location.png" alt="icon 1" /> 123 Dagon Studio, Yakin Street, Digital Estate</p>
                        <p><img src="images/phone1.png"  alt="icon 2" /> 010-020-0340</p>
                        <p><img src="images/globe.png" alt="icon 3" /><a class="link_orange" href="#"><span class="txt_orange">www.company.com</span></a></p>
                        <form class="form-horizontal" action="#">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Name..." maxlength="40" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Email..." maxlength="40" />
                            </div>
                            <div class="form-group">
                                <textarea  class="form-control" style="height: 130px;" placeholder="Write down your message..."></textarea>
                            </div>
                            <button type="submit" class="btn btn-orange pull-left">SEND</button>
                        </form>
                    </div>
                    <div class="col-md-8">
                        <div class="templatemo-contact-map" id="map-canvas"> </div>  
                        <div class="clearfix"></div>
                        <i>You can find us on 123 Dagon Studio, Yankin Street, <span class="txt_orange">Digital Estate</span> in Yangon.</i>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /#templatemo-contact -->


        <div class="templatemo-team" id="templatemo-about">
            <div class="container">
                <div class="row">
                    <div class="templatemo-line-header">
                        <div class="text-center">
                            <hr class="team_hr team_hr_left"/>
                            <span>{{ page.service_title4 }}</span>
                            <hr class="team_hr team_hr_right" />
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
                    <ul class="row row_team">
                        <li class="col-lg-3 col-md-3 col-sm-6 ">
                            <div class="text-center">
                                <div class="team-inner">
                                    <p class="team-inner-header">{{ page.team1_header }}</p>
                                    <p class="team-inner-subtext">{{ page.team1_subtext }}</p>
                                </div>
                                <div class="member-thumb">
                                    <div class="{{ page.team1_dataclass }}" data-rel="{{ page.team1_datarel }}" data-href="{{ page.team1_datahref }}" data-width="250"></div>
                                    <div class="thumb-overlay">
                                        <a href="{{ page.team1_fb }}"><span class="social-icon-fb"></span></a>
                                        <a href="{{ page.team1_twitter }}"><span class="social-icon-twitter"></span></a>
                                        <a href="{{ page.team1_gplus }}"><span class="social-icon-gplus"></span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="col-lg-3 col-md-3 col-sm-6 ">
                            <div class="text-center">
                                <div class="team-inner">
                                    <p class="team-inner-header">{{ page.team2_header }}</p>
                                    <p class="team-inner-subtext">{{ page.team2_subtext }}</p>
                                </div>
                                <div class="member-thumb">
                                    <div class="{{ page.team2_dataclass }}" data-rel="{{ page.team2_datarel }}" data-href="{{ page.team2_datahref }}" data-width="250"></div>
                                    <div class="thumb-overlay">
                                        <a href="{{ page.team2_fb }}"><span class="social-icon-fb"></span></a>
                                        <a href="{{ page.team2_twitter }}"><span class="social-icon-twitter"></span></a>
                                        <a href="{{ page.team2_gplus }}"><span class="social-icon-gplus"></span></a>
                                    </div>
                                </div>
                            </div>
                        <li class="col-lg-3 col-md-3 col-sm-6 ">
                            <div class="text-center">
                                <div class="team-inner">
                                    <p class="team-inner-header">{{ page.team3_header }}</p>
                                    <p class="team-inner-subtext">{{ page.team3_subtext }}</p>
                                </div>
                                <div class="member-thumb">
                                    <div class="{{ page.team3_dataclass }}" data-rel="{{ page.team3_datarel }}" data-href="{{ page.team3_datahref }}" data-width="250"></div>
                                    <div class="thumb-overlay">
                                        <a href="{{ page.team3_fb }}"><span class="social-icon-fb"></span></a>
                                        <a href="{{ page.team3_twitter }}"><span class="social-icon-twitter"></span></a>
                                        <a href="{{ page.team3_gplus }}"><span class="social-icon-gplus"></span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="col-lg-3 col-md-3 col-sm-6 ">
                            <div class="text-center">
                                <div class="team-inner">
                                    <p class="team-inner-header">{{ page.team4_header }}</p>
                                    <p class="team-inner-subtext">{{ page.team4_subtext }}</p>
                                </div>
                                <div class="member-thumb">
                                    <div class="{{ page.team4_dataclass }}" data-rel="{{ page.team4_datarel }}" data-href="{{ page.team4_datahref }}" data-width="250"></div>
                                    <div class="thumb-overlay">
                                        <a href="{{ page.team4_fb }}"><span class="social-icon-fb"></span></a>
                                        <a href="{{ page.team4_twitter }}"><span class="social-icon-twitter"></span></a>
                                        <a href="{{ page.team4_gplus }}"><span class="social-icon-gplus"></span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
            </div>
        </div><!-- /.templatemo-team -->

        <div class="templatemo-partners" id="templatemo-bottom">
            <div class="container">
                <div class="row">


                    <div class="templatemo-line-header" >
                        <div class="text-center">
                            <hr class="team_hr team_hr_left hr_gray"/>
                            <span class="txt_darkgrey">{{ page.service_title5 }}</span>
                            <hr class="team_hr team_hr_right hr_gray" />
                        </div>
                    </div>
                    <div class="clearfix"></div>


                    <div class="text-center">

                        <div style="margin-top:60px;">
                            <ul class="list-inline">
                                <li class="col-sm-2 col-md-2 templatemo-partner-item">
                                    <a href="{{ page.partner1_href }}" title="{{ page.partner1_title }}"><img src="{{ page.partner1_src }}" class="img-responsive" alt="{{ page.partner1_alt }}" /></a>
                                </li>
                                <li class="col-sm-2 col-md-2 templatemo-partner-item">
                                    <a href="{{ page.partner2_href }}" title="{{ page.partner2_title }}"><img src="{{ page.partner2_src }}" class="img-responsive" alt="{{ page.partner2_alt }}" /></a>
                                </li>
                                <li class="col-sm-2 col-md-2 templatemo-partner-item">
                                    <a href="{{ page.partner3_href }}" title="{{ page.partner3_title }}"><img src="{{ page.partner3_src }}" class="img-responsive" alt="{{ page.partner3_alt }}" /></a>
                                </li>
                                <li class="col-sm-2 col-md-2 templatemo-partner-item">
                                    <a href="{{ page.partner4_href }}" title="{{ page.partner4_title }}"><img src="{{ page.partner4_src }}" class="img-responsive" alt="{{ page.partner4_alt }}" /></a>
                                </li>
                                <li class="col-sm-2 col-md-2 templatemo-partner-item">
                                    <a href="{{ page.partner5_href }}" title="{{ page.partner5_title }}"><img src="{{ page.partner5_src }}" class="img-responsive" alt="{{ page.partner5_alt }}" /></a>
                                </li>
                                <li class="col-sm-2 col-md-2 templatemo-partner-item">
                                    <a href="{{ page.partner6_href }}" title="{{ page.partner6_title }}"><img src="{{ page.partner6_src }}" class="img-responsive" alt="{{ page.partner6_alt }}" /></a>
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="templatemo-footer" >
            <div class="container">
                <div class="row">
                    <div class="text-center">

                        <div class="footer_container">
                            <ul class="list-inline">
                                <li>
                                    <a href="https://www.facebook.com/hyip.world">
                                        <span class="social-icon-fb"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/hyip_world">
                                        <span class="social-icon-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="social-icon-gplus"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="social-icon-linkedin"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="social-icon-rss"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="height30"></div>
                            <a class="btn btn-lg btn-orange" href="#" role="button" id="btn-back-to-top">Back To Top</a>
                            <div class="height30"></div>
                        </div>
                        <div class="footer_bottom_content">
                       		Copyright © 2084 <a href="http://hyip.world/">Hyip.World</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/stickUp.min.js"></script>
        <script type="text/javascript" src="js/prefixfree.min.js"></script>
        <script type="text/javascript" src="js/colorbox/jquery.colorbox-min.js"></script>
        <script type="text/javascript" src="js/templatemo_script.js"></script>
        <!--script type="text/javascript" src="//apis.google.com/js/platform.js" async defer></script-->
        <!--script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55dc7c7d2cb90e21" async="async"></script-->

    </body>
</html>
